body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 24px;
	line-height: 24px;
	overscroll-behavior: none;
	overflow: hidden;
}

a {
	color: #b6dbfd;
	text-decoration: none;
}

a:visited {
	color: #90b3f5;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

#linkbar {
	position: relative;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	background-color: #000;
	z-index: 1;
}

#asciieffect {
	position: absolute;
	top: 0px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
}

a, button, input, select {
	pointer-events: auto;
}

@media (min-width: 768px) {
	a, #linkbar {
		font-size: 36px;
		line-height: 36px;
	}
}

@media (min-width: 320px) {
	a, #linkbar {
		font-size: 72px;
		line-height: 72px;
	}
	canvas, #asciieffect {
		top: 250px;
	}
}

@media (min-width: 1024px) {
	a, #linkbar {
		font-size: 24px;
		line-height: 24px;
	}
	canvas, #asciieffect {
		top: 0px;
	}
}

#notSupported {
	width: 50%;
	margin: auto;
	background-color: rgb(0, 30, 36);
	margin-top: 20px;
	padding: 10px;
}